.Header
  .Header__logo
    SNS
.Contents
  .Contents__Message
    follow me!
  = link_to "https://www.facebook.com/", class: "Contents__Btn Contents__Btn--Facebook" do
    = icon('fab', 'facebook-square', class: "Contents__Btn--Icon")
    Facebook
    %span<>
  = link_to "https://twitter.com/", class: "Contents__Btn Contents__Btn--Twitter" do
    = icon('fab', 'twitter', class: "Contents__Btn--Icon")
    Twitter
    %span<>
  = link_to "https://www.instagram.com/", class: "Contents__Btn Contents__Btn--Instagram" do
    = icon('fab', 'instagram', class: "Contents__Btn--Icon")
    Instagram
    %span<>
.Contents__JSBoxes
  #target1.Box
  #target2.Box
  #target3.Box
  #target4.Box
  #target5.Box

= javascript_include_tag "post.js"